{% extends 'main.html' %}
{% block todo %}
    <h2>All your tasks:</h2>
    <p>
    {% for task in tasks %}
        Name: {{ task.name }} <br>
        Description: {{ task.description }} <br>
        {% if task.completed == True %}
        Status: <span style="color: green"> Completed </span>
        {% else %}
        Status: <span style="color: red"> Incomplete </span>
        {% endif %}
        <br>
        <button><a href="{{ url_for('complete', name=task.name) }}">Complete</a> </button>
        <button><a href="{{ url_for('incomplete', name=task.name) }}">Incomplete</a> </button>
        <br>
        <span><a href="{{ url_for('update', name=task.name) }}">Update</a></span>
        <span><a href="{{ url_for('delete', name=task.name) }}">Delete</a></span> 
        <br>
        <br>
    {% endfor %}
    </p>
{% endblock todo %}